
.infomation{
  background-color: aquamarine;
  height: 200px;
}
.at-avatar{
  margin: 40px 40px 40px 20px;
  position: absolute;

}
.headName{
  left: 170px;
  top: 60px;
  position: absolute;
  font-family: Microsoft Yahei, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.meAttabbar {
  margin-top: 40px;
  margin-bottom: 40px;
}
